{% extends "base.html" %}

<!-- start block -->
{% block content %}

<div class="section no-pad-bot" id="index-banner">

		<div class="row center-align">
			<form class="col s12" method="POST">
				{{form.hidden_tag()}}
				<br>
				<button class="waves-effect waves-light btn indigo">Submit</button>
				<br>
				<div class="row">
					<div class="input-field col s5">
						{{form.lang_from}}

						{{form.text(class_="materialize-textarea")}}
					</div>
					<div class="input-field col s2">
						<i class="medium material-icons">swap_horiz</i>
					</div>

					<div class="input-field col s5">
						{{form.lang_to}}

						<textarea disabled id="text-to" class="materialize-textarea">{{translated_text}}</textarea>
						<label for="text-to"></label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="section">
	<!--   Icon Section   -->
	<div class="row">
		{% if current_user.is_anonymous %}
		<h4 class="center-align">Sign up to save your translation history!</h4>
		{% else %}
		<h4>Your latest translations:</h4>
		{% for i in last_translations %}
		
		<blockquote><strong>({{i.lang_from}} -> {{i.lang_to}})</strong> {{i.text_from}}</blockquote>
		{% endfor %}
		{% endif %}
	</div>
</div>
<!-- end block  -->
{% endblock %}
