<div class="input-field">
  {{ form.password.label }} {{ form.password(size=32, class="validate") }}
  <!--  -->
  {% for error in form.password.errors %}
  <span class="helper-text" data-error="wrong" data-success="right">
    {{ error }}
  </span>
  {% endfor %}
</div>

{% if password_confirm %}
<div class="input-field">
  {{ form.password_confirm.label }}
  {{ form.password_confirm(size=32, class="validate") }}
  {% for error in form.password_confirm.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</div>
{% endif %}
